<mat-card>
  <div class="jumbotron">
    <div class="inc-exp-container">
      <div>
        <mat-icon>arrow_back</mat-icon>
      </div>
      <div>
        <h2>Janeiro/22</h2>
      </div>
      <div>
        <mat-icon>arrow_forward</mat-icon>
      </div>
    </div>
    <hr>
  </div>
  <div class="jumbotron jumbotron-fluid mt-0">
    <div class="inc-exp-container">
      <div>
        <h3>Saldo Atual</h3>
        <p class="money balance"><strong>{{getTotalCost() | currency:'BRL'}}</strong></p>
      </div>
      <div>
        <h3>Receitas</h3>
        <p class="money plus"><strong>{{getTotalIncome() | currency:'BRL'}}</strong></p>
      </div>

      <div>
        <h3>Despesas</h3>
        <p class="money minus"><strong>{{getTotalExpenses() | currency:'BRL'}}</strong></p>
      </div>
      <!-- <div>
        <h3>Balanço Mensal</h3>
        <p class="money balance-month">1200.00</p>
      </div> -->
    </div>
  </div>
  </mat-card>
