mat-dialog-actions > button{
  width: 50px !important;
  height: 3em !important;
  border-radius: 2px !important;
  border: 1px !important;
  margin: 0.5em;
}

.mat-primary{
  background-color: #37474f;
  color:#fff;
}
